.menu-btn{
    position: absolute;
    z-index: 1;
    right: 1rem;
    top:1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;

    &__burger{
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;

        &::before{
            content: '';
            position: absolute;
            top:-8px;
            width: 28px;
            height: 3px;
            background: set-text-color($primary-color);
            @include transition-ease;

            
        }

        &::after{
            content: '';
        position: absolute;
        top:8px;
        width: 28px;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;
        }

        &.open{
            transform: rotate(720deg);
            background: transparent;

            &::before{
                transform: rotate(45deg) ;
                top: 0;
            }

            &::after{
                
                transform: rotate(-45deg) ;
                top: 0;
            }

        }
    }
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: .98;
    visibility: hidden;

    &.open{
        visibility: visible;
    }

    .menu-nav{
        display: flex;
        flex-direction: column ;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 100vh;
        overflow: hidden;
        background: $primary-color;
        list-style: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;

        &.open{
            transform: translateY(0);
        }

        &__item{
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
            transform: translateX(-100%);
            @include transition-ease;

            &.open{
                transform: translateX(0);
            }
            &:hover{
                color: $secondary-color;
            }

            &.active > a{
                color: $secondary-color;
            }
            
        }
        &__link{
            display: inline-block;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 2rem 0;
            text-decoration: none;
            font-weight: 300;
            color: set-text-color($primary-color);
            @include transition-ease;
    
            &:hover{
                color: $secondary-color;
            }
        }
    }

}

@for $i from 1 through 4 {
    .menu-nav__item:nth-child(#{$i}){
        transition-delay: #{$i * 0.1}s;
    }
}